.item_focus {
  background-image: url('/bgl.svg'), url('/bgr.svg');
  background-size:
    200% auto,
    auto;
  background-repeat: no-repeat, no-repeat;
  background-position:
    top left,
    bottom right;
}

@media screen and (min-width: 768px) {
    .item_focus {
        background-image: url('/bgtab.svg');
        background-size: 100% 100%;
    }
}

.hidden_block {
    animation: changeHeight 1s forwards;
}

@keyframes changeHeight {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}