.gradient::before,
.gradient::after,
.PhotoGallery::before,
.Result::before,
.PhotoGallery::after,
.Result::after {
    content: "";
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    filter: blur(200px);
}

.PhotoGallery::before,
.Result::before,
.gradient::before {
    width: 749px;
    height: 749px;
    background-color: #d6c8ff;
}

.PhotoGallery::after,
.Result::after,
.gradient::after {
    width: 603px;
        height: 603px;
        background-color: #edc6ff;
    }
    
    .gradient::before {
        top: 94px;
        left: -467px;
    }
    
    .gradient::after {
        bottom: -41px;
        right: -443px;
    }
    
    header.gradient::before {
        top: 214px;
    }
    
    header.gradient::after {
        top: 37px;
    }
    
    .PhotoGallery::before {
        top: -459px;
        left: -467px;
    }
    
    .PhotoGallery::after {
        top: -636px;
        right: -443px;
    }
    
    .Result::before {
        top: 81px;
        left: -467px;
    }
    
    .Result::after {
        top: -92px;
        right: -443px;
    }
    
    @media screen and (min-width: 768px) {
        .gradient::before {
            top: 104px;
            left: -417px;
        }
    
        .gradient::after {
            bottom: 51px;
            right: -300px;
        }
    
        header.gradient::after {
            top: -37px;
        }
    
        header.gradient::before {
            top: 224px;
        }
    
        .PhotoGallery::before {
            top: -153px;
            left: -417px;
        }
    
        .PhotoGallery::after {
            top: -330px;
            right: -300px;
        }
    
        .Result::before {
            top: -32px;
            left: -417px;
        }
    
        .Result::after {
            top: -209px;
            right: -300px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .gradient::before {
            top: 165px;
            left: -401px;
        }
    
        .gradient::after {
            bottom: 35px;
            right: -240px;
        }
    
        .PhotoGallery::before {
            top: 106px;
            left: -667px;
        }
    
        .PhotoGallery::after {
            bottom: -189px;
            right: -600px;
        }
    
        .Result::before {
            bottom: -224px;
            right: -713px;
            left: auto;
        }

        .Result::after {
            top: 173px;
            left: -556px;
            right: auto;
        }
}