@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global style for multiple component */
body {
  background-color: var(--primaryBg);
}

/* Slider */
@import '../components/Slider/Slider.module.css';

.ReactCollapse--collapse {
  transition: height 500ms;
}

html{
  scroll-behavior: smooth
}

.isMenuShow {
  overflow: hidden;
}
