@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global style for multiple component */
body {
  background-color: var(--primaryBg);
}

@import './bg.css';
@import './links.css';
/* Slider */
@import '../components/Slider/Slider.module.css';

html{
  scroll-behavior: smooth;
}

.isMenuShow {
  overflow-y: hidden;
}
