.slick-arrow.slick-prev::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='24'><path d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%231D1D1B' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' fill='transparent'/><path d='M13.26 15.53L9.73999 12L13.26 8.47' stroke='%231D1D1B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' fill='transparent'/></svg>");
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 0.5s;
}

.slick-arrow.slick-next::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='24'><path d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%231D1D1B' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' fill='transparent'/><path d='M10.74 15.53L14.26 12L10.74 8.47' stroke='%231D1D1B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' fill='transparent'/></svg>");
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 0.5s;
}

.slick-arrow.slick-next:focus::before,
.slick-arrow.slick-next:hover::before,
.slick-arrow.slick-prev:focus::before,
.slick-arrow.slick-prev:hover::before {
  transform: scale(1.2);
}

.slick-slider {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .slick-slider {
    padding: 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .centralMode .slick-slide.slick-center {
    transform: scale(1);
  }

  .centralMode .slick-slide {
    transform: scale(0.7);
  }

  .slick-slider {
    padding: 24px 0;
  }

  .slick-slider.centralMode {
    padding: 24px 24px;
  }

  .slick-arrow.slick-next {
    right: 0;
  }
  .slick-arrow.slick-prev {
    left: 0;
  }
}
